img {
	width: 100%;
}

.navbar-brand {
	width: 64px;
	padding-top: 10px;
	padding-bottom: 10px;
}

.navbar-brand > img {
	display: block;
}

.carousel-indicators {
    bottom: 0px;
}

body {
    background-image: url("./img/background.jpg");
    background-size: cover;
    background-repeat: repeat;
}

.poster-section {
	padding: 20px 0;
}

.poster-section > h1 {
	color: #fff;
	margin-bottom: 20px;
}

.poster-wrapper > a > img {
	border-color: #fff;
	border-style: solid;
	border-width: 2px;
	z-index: -1;
}

.poster-wrapper > a > h3 {
	position: absolute;
	left: 0;
	width: 100%;
	top: 50%;
	color: #fff;
	font-size: 36px;
	margin: 0;
	transform: translate(0, -50%);
}

.modal-body video {
	width: 100%;
	height:100%;
}

.footer {
	background-color: #696969;
	margin: 0;
	font-family: sans-serif;
	font-size: 20px;
	padding: 5px 0 5px 0;
}

.footer li {
	display: inline;
	padding: 0 20px;
	margin: 0;
}

.footer ul {
	margin:0;
}

.footer a {
	color: #D3D3D3;

}

.fm-contact-form {
	position: absolute;
	left: 50%;
	width: 30%;
	top: 50%;
	margin: 0;
	transform: translate(-50%, -50%);
}

.form-control {
	margin-top: 20px;
	margin-bottom: 20px;
}

.fm-contact-form > h1 {
	text-align: center;
	font-size: 45px;
	font-family: cursive;
	color: white;
}

.ticket-form {
	position: absolute;
	left: 50%;
	width: 60%;
	top: 30%;
	margin: 0;
	transform: translate(-50%, -50%);
}

.ticket-form > h1 {
	text-align: center;
	font-size: 45px;
	font-family: cursive;
	color: white;
}

.table {
	margin-top: 30px;
}























